{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'importantContacts/style.css' %}" />
{% endblock %}
<div class="container2">
  <h1 class="main_heading">Administration Contacts</h1>
  <br />
  <br />
  <br />
  <table class="table" border="1">
    <tr>
      <th class="table_heading">Name</th>
      <th class="table_heading">Phone</th>
      <th class="table_heading">Type</th>
    </tr>
    {% for x in contacts %}
    <tr>
      <td class="table_data">{{ x.name }}</td>
      <td class="table_data">{{ x.phone }}</td>
      <td class="table_data">{{ x.type }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{%endblock%}
