{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'importantContacts/style.css' %}" />
{% endblock %}
<div class="container2">
  <h1 class="main_heading">Buy</h1>
  <a class="button sell_button" href="/sell">Sell your item here!</a>
  <table class="table" border="1">
    <tr>
      <th class="table_heading">Name</th>
      <th class="table_heading">Description</th>
      <th class="table_heading">Price</th>
      <th class="table_heading">Seller (RollNo)</th>
    </tr>
    {% for x in data %} {% if not x.sold %}
    <tr>
      <td class="table_data">{{ x.name }}</td>
      <td class="table_data">{{ x.description }}</td>
      <td class="table_data">{{ x.price }}</td>
      <td class="table_data">{{ x.roll.name }} ({{ x.roll.roll }})</td>
    </tr>
    {%endif%} {% endfor %}
  </table>
</div>
{%endblock%}
