<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link href="{% static 'dashboard/style.css' %}" rel="stylesheet" />
    <link
      href="{% static 'node_modules/@fortawesome/fontawesome-free/css/fontawesome.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'node_modules/@fortawesome/fontawesome-free/css/brands.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'node_modules/@fortawesome/fontawesome-free/css/solid.css' %}"
      rel="stylesheet"
    />
    <title>Campus Connect</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="wrapper hover_collapse">
      <!-- Top bar -->
      <div class="top_navbar">
        <div class="logo_menu">
          <!-- logo -->
          <div class="logo">
            <img src="{% static 'dashboard/logo.jpeg' %}" alt="" />
          </div>
          <!-- menu button -->
          <div class="menu">
            <div class="hamburger">
              <i class="fas fa-bars"></i>
            </div>
          </div>
        </div>
        <h1>Campus Connect</h1>
        <!-- <i class="fa-solid fa-user"></i> -->
        <div class="dropdown">
          <a href="/logout"><h1>Log Out</h1></a>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="sidebar_inner">
          <ul>
            <li>
              <a href="/">
                <span class="icon"><i class="fa fa-qrcode"></i></span>
                <span class="text">Dashboard</span>
              </a>
            </li>

            <li>
              <a href="/buy">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">Buy & Sell</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon"><i class="fa fa-eye"></i></span>
                <span class="text">Lost & Found</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon"><i class="fa fa-book"></i></span>
                <span class="text">Academic Calender</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon"><i class="fa fa-question-circle"></i></span>
                <span class="text">Mess Menu</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon"><i class="fa fa-pen"></i></span>
                <span class="text">Time Table</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon"><i class="fa fa-id-card"></i></span>
                <span class="text">Cab Sharing</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon"><i class="fa fa-id-card"></i></span>
                <span class="text">News & Updates</span>
              </a>
            </li>
            <li>
              <a href="/importantContacts">
                <span class="icon"><i class="fa fa-id-card"></i></span>
                <span class="text">Important Contacts</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon"><i class="fa fa-id-card"></i></span>
                <span class="text">Team</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      {%block start%} {%endblock%}
    </div>

    {% else %}
    <div class="container">
      <h1>Welcome to CampusConnect App</h1>
      <div class="all_buttons">
        <a class="button" href="{% provider_login_url 'google' %}"
          >Login using Institute ID!</a
        >
        <a class="button" href="/admin">Login as Admin!</a>
      </div>
    </div>
    {% endif %}
  </body>
  <script src="{% static 'dashboard/script.js' %}"></script>
</html>
