{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'importantContacts/style.css' %}" />
{% endblock %}
<div class="container2">
  <h3>Faculty Contacts</h3>
  <br />
  <br />
  <br />
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Type</th>
    </tr>
    {% for x in contacts %}
    <tr>
      <td>{{ x.name }}</td>
      <td>{{ x.phone }}</td>
      <td>{{ x.type }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{%endblock%}
