{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'importantContacts/style.css' %}" />
{% endblock %}
<div class="container2">
  <h1 class="main_heading">Found Portal</h1>
  <a class="button sell_button" href="/lostfound/found/foundform"
    >Report a found item here!</a
  >
  <table class="table" border="1">
    <tr>
      <th class="table_heading">Name</th>
      <th class="table_heading">Description</th>
      <th class="table_heading">Image</th>
      <th class="table_heading">Name (Roll No)</th>
    </tr>
    {% for x in data %}
    <tr>
      <td class="table_data">{{ x.name }}</td>
      <td class="table_data">{{ x.description }}</td>
      <td class="table_data">
        <img src="/{{x.image}}" alt="Lost item image" width="100px" />
      </td>
      <td class="table_data">{{ x.roll.name }} ({{ x.roll.roll }})</td>
    </tr>
    {% endfor %}
  </table>
</div>
{%endblock%}
