{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'importantContacts/style.css' %}" />
{% endblock %}

<div class="container2">
  <h1 class="main_heading">Important Contacts</h1>

  <div class="all_buttons">
    <a class="button" href="importantContacts/emergency">Emergency</a>
    <a class="button" href="importantContacts/administration">Administration</a>
    <a class="button" href="importantContacts/faculty">Faculty</a>
  </div>
</div>
{%endblock%}
