{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'teams/style.css' %}" />
{% endblock %}

<div class="container2">
    <h1 class="main_heading">OUR TEAM</h1>
    <div class="container4">
        <div class="card card0">
          <div class="border">
            <h2>Mayank Kumar</h2>
            <div class="icons">
              <i class="fa fa-brands fa-codepen" aria-hidden="true"></i>
              <i class="fa fa-brands fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-brands fa-dribbble" aria-hidden="true"></i>
              <i class="fa fa-brands fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-brands fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="card card1">
          <div class="border">
            <h2>Shray Kumar Singh</h2>
            <div class="icons">
              <i class="fa fa-brands fa-codepen" aria-hidden="true"></i>
              <i class="fa fa-brands fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-brands fa-dribbble" aria-hidden="true"></i>
              <i class="fa fa-brands fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-brands fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="card card2">
          <div class="border">
            <h2>Raghav Bahety</h2>
            <div class="icons">
              <i class="fa fa-brands fa-codepen" aria-hidden="true"></i>
              <i class="fa fa-brands fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-brands fa-dribbble" aria-hidden="true"></i>
              <i class="fa fa-brands fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-brands fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
</div>
{%endblock%}
