{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'importantContacts/style.css' %}" />
{% endblock %}
<div class="container2">
    <img class="image" src="{% static 'timetable_images/1stYear.png' %}" alt="image not found">
    <img class="image" src="{% static 'timetable_images/2ndYear.png' %}" alt="image not found">
    <img class="image" src="{% static 'timetable_images/3rdYear.png' %}" alt="">
    <img class="image" src="{% static 'timetable_images/4thYear.png' %}" alt="">
</div>
{%endblock%}