{%extends "dashboard.html" %} {% load static %} {%block start%} {% block css %}
<link rel="stylesheet" href="{% static 'importantContacts/style.css' %}" />
{% endblock %}
<div class="container2">
  {%if year == 2022%}
  <img
    class="image"
    src="{% static 'timetable_images/1stYear.png' %}"
    alt="image not found"
  />
  {%elif year == 2021%}
  <img
    class="image"
    src="{% static 'timetable_images/2ndYear.png' %}"
    alt="image not found"
  />
  {%elif year == 2020%}
  <img
    class="image"
    src="{% static 'timetable_images/3rdYear.png' %}"
    alt="image not found"
  />
  {%elif year == 2019%}
  <img
    class="image"
    src="{% static 'timetable_images/4thYear.png' %}"
    alt="image not found"
  />
  {%endif%}
  <br />
  <h1 class="main_heading">ToDos</h1>
  <table class="table" border="1">
    <tr>
      <th class="table_heading">Name</th>
      <th class="table_heading">Description</th>
      <th class="table_heading">Time</th>
    </tr>
    {% for x in todos %}
    <tr>
      <td class="table_data">{{ x.name }}</td>
      <td class="table_data">{{ x.description }}</td>
      <td class="table_data">{{ x.time }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="/todoform" class="button">Click here to add task</a>
</div>
{%endblock%}
